---
import Layout from "@/layouts/Layout.astro";

import Experience from "@/components/section/Experience.astro";
import About from "@/components/section/About.astro";
import Education from "@/components/section/Education.astro";
import Hero from "@/components/section/Hero.astro";
import Projects from "@/components/section/Projects.astro";
import Skills from "@/components/section/Skills.astro";
import KeyboardManager from "@/components/section/KeyboardManager.astro";
---

<Layout title="Portafolio Minimalista.">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Skills />
		<Projects />
		
		
		
		
	</main>


 <KeyboardManager />


</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
