---
import Section from "./Section.astro";
import { Conceptosbasicos } from "../../cv.json";
const { summary } = Conceptosbasicos;
---
<Section title="Acerca de mi">
    <p>
        {summary}
    </p>

</Section>